

body{
	background-color: LightskyBlue;
}

h1{
	text-align: center;
}

table{
	margin: auto;
	width: 70%;
	background-color: lightblue;
	border-collapse: collapse;
	text-align: center;
}

table td, th{
	vertical-align: top;
	border: 1px solid gray;
	
}